<body>
  <div class="transbox>">
    <div class="container">
	    <div class="d-flex justify-content-center h-100">
		    <div class="card">
			    <div class="card-header">
				    <img src="/images/UNUM - logo.png">
            <h1>joined up thinking</h1>
			    </div>
          <div class="card-body">
            <form action="/auth/login" method="GET"><button type="submit" class="btn float-right login_btn">Log-in</button></form>
            <form action="/auth/signup" method="GET"><button type='submit' class="btn float-left login_btn" >Sign-up</button></form>
          </div>
        </div>
      </div>
    </div>
  </div>  
</body>