<section>
  <img id="unum-logo" src='/images/UNUM - logo.png'>
</section>
<h1>joined op thinking</h1>
<form action="/auth/login" method="GET"><button type="submit">Log-in</button></form>
<form action="/auth/signup" method="GET"><button type='submit'>Sign-up</button></form>
