<div class="containerList">
  <h1>Available Jobs</h1>
  {{#if errorMessage}}
  <p class="alert alert-primary" role="alert">{{errorMessage}}</p>
  {{/if}}
  <div class="row">
    {{#each jobsFromDB}}
    {{> jobcard this}}
    {{/each}}
  </div>
</div>

<p><a class="btn btn-secondary" href="/profile-user" role="button">Back</a></p>
