<div class="container">
  <h1>Available Jobs</h1>
  {{#if errorMessage}}
  <p class="alert alert-primary" role="alert">{{errorMessage}}</p>
  {{/if}}
  <div class="row">
    {{#each jobsFromDB}}
    {{> jobcard this}}
    {{/each}}
  </div>
</div>

<button type="button" class="btn btn-secondary"><a href="/profileuser">Back</a></button>
