<body id="splash">
  <div>
    <div class="container">
	    <div class="d-flex justify-content-center h-100">
		    <div class="bigcard">
			    <div class="bigcard-header">
				    <img class="logo" src="/images/UNUM - logo.png">
            <h1 class='tagline'>You have been logged out.</h1>
            <br>
            <h2 class='subtagline'>See you again soon!</h2>
			    </div>
          <div class="bigcard-body">
            <form action="/auth/login" method="GET"><button type="submit" class="btn float-right login_btn">Log-in</button></form>
            <form action="/auth/signup" method="GET"><button type='submit' class="btn float-left login_btn" >Sign-up</button></form>
          </div>
        </div>
      </div>
    </div>
  </div>  
</body>