<section>
  <img class="logo" id="unum-logo" src='/images/UNUM - logo.png'>
</section>
<h1 class="tagline">404 Error</h1>
<h2 class="tagline">This route does not exist on the app! Check if everything is ok!</h2>