<section id="header-image">
  <div class="header">
    <h1>Unum,<h1>
    <h2>how it works.</h2>
  </div>
  <hr>
</section>
<div class="jumbotron">
  <p>How everything works...</p>
  <p>including details of Corona precautions...</p>
  <p>and tax implications...</p>
</div>
<p><button class="btn btn-secondary btn-lg" type="button" onclick="window.close();">Close</button></p>